*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 250px;
}

.hero-section-logo{
    width: 300px;
    height: fit-content;
}

.hero-section-logo-text{
    text-align: center;
    font-weight: 200;
    font-size:xx-large;
}

.hero__section_container-input{
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    width: 50%;
}

.hero-section-input-location, .hero-section-input-search{
    border: none;
    font-size: 0.9rem;
    outline: none;
    width: 96%;
}

.hero-section-input-location{
    width: 35%;
    border-right: 1px solid #e0e0e0;
    padding-left: 2px;

}

.hero-section-input-search{
    width: 65%;
}

.container__we-offer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem auto;
}

.we__offer_card{
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.4s ease;
}

.we__offer_card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.we__offer_card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding: 10px;
}

.we__offer_content h2{
    font: size 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 12px;
}

.collections h1{
    font-weight: 500;
    margin-left: 13%;
    font-size: xx-large;
}

.collections .sub__heading_container{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 200px;
    margin-right: 210px;
    
}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.collection_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.8rem;
}

.collection_card_container .card{
    height: 300px;
    min-width: 18%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url(images/collection1.jpg);
}

.card2{
    background-image: url(images/collection2.jpg);
}

.card3{
    background-image: url(images/collection3.jpg);
}

.card4{
    background-image: url(images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
}

.collection_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.8rem;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

.get__the_app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    width: 100%;
}

.get__the_app .semiContainer{
    display: flex;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semiContainer .left{
    flex: 100px;
}

.get__the_app .semiContainer .left img{
    width: 110%;
    height: 90%;
    /* object-fit: cover; */
    object-position: center;
    margin-top: 3rem;

}

.get__the_app .semiContainer .right{
    flex: 200wpx;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-weight: 200;
}

.right .radio__button_container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: #ff7e8b;
}

.right .input_container{
    display: flex;
    gap: 0.5rem;
}

.input_container button,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: #ff7e8b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download__app_container h5{
    font-weight: 200;
    outline: none;
    color: gray;
}

.right .download__app_container div{
    display: flex;
    gap: 1rem;
}

.app_store_img img{
    width: 25%;
}

/* .right .download__app_container div img{
    width: 35%;
} */

/* .container_explore{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items:center; */
    /* max-width: 1200px; */
/* } */

.container_explore{
    margin-top: 2rem;
}

.container-e{
    max-width: 1120px;
    margin: auto;
    background: white;
    overflow: auto;
}

.text-m{
    font-weight: 400;
    font-size: 2rem;
}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .border_div{
    border: 2px solid #efefef;
    border-radius: 10px;
  }

  .content_explore {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }

  .gallery-e{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
  }

  .footer_container{
    width: 100%;
    margin-top: 2rem;
  }

  .footer_section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    margin: auto;
  }

  .footer_section1 img{
    width: 130px;
  }

  .footer_button_container{
    display: flex;
    gap: 1rem;
  }

  .footer_button_container button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
  }

  .navigator_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 3rem 0;
    margin: auto;
    width: 73%;
  }

  .links_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .links_container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
  }

  .footer_link{
    text-decoration: none;
    color: gray;
    font-size: 12.5px;
    font-weight: 300;
  }

  .footer_link:hover{
    color: black;
  }

  .social_links_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
  }

  .social_links_container button i{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_section_img{
    width: 70%;
  }

  .disclaimer{
    width: 75%;
    color: gray;
    margin: auto;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
    font-size: 12px;
  }

  @media only screen and (max-width: 1300px) {
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
        flex: 1;
    }

    .get__the_app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .get__the_app{
        padding: 2rem 0; 
    }

    .get__the_app .semiContainer{
        width: 95%;
        flex-direction: column;
    }

    .navigator_container{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 500px){
    .navbar__menu_container .user__icon{
        display: flex;
    }

    .link{
        display: none;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .hero-section-input-location, .hero-section-input-search{
        padding: 15px;
        flex-direction: column;
        width: 95%;
    }

    .hero__section_container-input{
        height: calc(80vh - 60px);
    }

    .hero-section-logo-text{
        font-size: 20px;
        width: 95%;
    }

    .collections .sub__heading_container{
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 8px;
    }

    .navigator_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px) {
    .navigator_container{
        grid-template-columns: repeat(1, 1fr);
    }
}


